<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Average</title>
</head>
<body>
<div class="border border-primary">
<div class="text-center">
    <h3>Расчет среднего количества документов в подсказках:</h3>
    <form method="POST" action="average" enctype="multipart/form-data">
        <label for="file1">Загрузите файл формата zip или json:</label>
        <input id="file1" type="file" name="file" class="form-control, text-center">
        <br>
        <input type="submit" value="Подсчет" class="btn btn-primary">
    </form>
    <br>
    <label for="result">Одна подсказка в среднем содержит документов:</label>
    <h5 id="result" th:text="${average}"></h5>
</div>
</div>
<br>
<br>
<br>
<div class="border border-primary">
<div class="text-center">
    <h3>Получить список уникальных документов в подсказках:</h3>
    <form method="POST" action="unique" enctype="multipart/form-data">
        <label for="file2">Загрузите файл формата zip или json:</label>
        <input id="file2" type="file" name="file" class="form-control, text-center">
        <br>
        <input type="submit" value="Получить" class="btn btn-primary">
        <br>
    </form>
    <br>
</div>
</div>
</body>
</html>
