<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Error</title>
</head>
<body>

<div>
    <br>
    <br>
    <br>
    <h1>Ошибка!</h1>
    <h3>Возможно, вы пытались загрузить файл с некорректным форматом.</h3>
<h2>
    <a href="average">Вернуться на главную</a>
</h2>
</div>
</body>
</html>
